.foto-estudante {
  width: 100%;
}

.foto-cerebro-tecnicas-estudo {
  width: 100%;
}

ol {
  list-style: decimal;
}

ol img {
  width: 60%;
}

ol p {
  font-size: 18px;
}

ol li {
  font-weight: bold;
  font-size: 24px;
  margin-left: 28px;
  padding-top: 16px;
}

u {
  text-decoration: none;
  color: #E02682;
  font-weight: 500;
}

strong {
  font-weight: bold;
}